<div class="container-big-card">
    
        <div class="big-card-foto">
            <img src="{{fotoPrincipal}}"
        >
        </div>
        <div class="big-card-title">
            <h1>
                <a [routerLink]="['content', Id]">
                {{cardTitle}}
                </a>
            </h1>
        </div>
        <div class="big-card-descricao">
            <p>
                <a [routerLink]="['content', Id]">
                {{ cardDescricao }}
                </a>
            </p>
        </div>
   
</div>