<div class="container-small-card">
    <div class="container-small-card-content">
        <div class="small-card-foto">
            <img src="{{fotoPrincipal}}" 
            alt="mortal kombat 1"
        >
        </div>
        <div class="small-card-title">
            <h1>
                <a [routerLink]="['content', Id]">
                {{cardTitle}}
                </a>
            </h1>
        </div>
    </div>
    <div class="container-small-card-separador">
        <hr>
    </div>
</div>

