.container-content{
  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-capa{
    width: 60%;
    margin-top: 25px;
}
.content-capa > img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.content-descricao{
    margin: 10px;
    width: 60%;
}
.content-descricao > p {
    color: rgb(184, 184, 184);
    
}
.content-title{
    margin: 15px;
}
hr{
    margin: 15px;
}
a{
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #8b46f4;
    margin: 10px;
}