

<app-menu-title fotoCapa="https://img.freepik.com/vetores-premium/historias-do-instagram-de-conceito-de-jogo-de-design-plano_23-2149858939.jpg?w=826"></app-menu-title>
<div class="articles">
    <div class="articles-main">
        <app-big-card
            Id="1" 
            fotoPrincipal="https://tm.ibxk.com.br/2023/05/19/19102541237043.jpg?ims=704x264"
            cardTitle="Kameo Fighters: entenda o novo sistema de Mortal Kombat 1"
            cardDescricao="Algo que chamou a atenção dos fãs, no entanto, foi o novo sistema de Kameo Fighters. De acordo com a desenvolvedora, essa é uma nova mecânica de combate que promete entregar mais diversidade de gameplay. Embora ainda não haja vídeos que demonstrem a novidade na prática, já é possível entender como ela deve funcionar."
        >
        </app-big-card>
    </div>
    <div class="articles-other">
        <app-small-card
            Id="2"
            fotoPrincipal="https://tm.ibxk.com.br/2023/05/24/24095214078060.jpg?ims=164x118"
            cardTitle="Sony trará mais jogos ao PC e revela números de exclusivos na plataforma"
        ></app-small-card>
        <app-small-card 
            Id="3"
            fotoPrincipal="https://tm.ibxk.com.br/2023/05/22/22155917310251.jpg?ims=164x118"
            cardTitle="10 jogos grátis para resgatar e jogar no PC, consoles e mobile"
        ></app-small-card>
        <app-small-card
            Id="4"
            fotoPrincipal="https://tm.ibxk.com.br/2023/05/23/23133810367150.jpg?ims=164x118"
            cardTitle="Xbox: jogos com até 90% de desconto no Xbox Series S, X e One"
        ></app-small-card>
    </div>
</div>
